<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oht.second.mapper.BoardMapper">
	<resultMap id="BoardResultSet" type="Board">	
		<result column="boardNo" property="boardNo" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="regdate" property="regdate" />
		<result column="memId" property="memId" />
		<result column="viewCount" property="viewCount" />
	</resultMap>

	<resultMap id="AttachResultSet" type="com.oht.second.vo.Attach">
		<result column="fileNo" property="fileNo"/>
		<result column="originalName" property="originalName"/>
		<result column="saveName" property="saveName"/>
		<result column="path" property="path"/>
		<result column="boardNo" property="boardNo"/>
	</resultMap>
	
<!-- 게시글 조회 -->
	<select id="boardList" resultMap="BoardResultSet">
			select *
				from board
				<if test="category == 'title'">
			    	where TITLE like '%${keyword}%'
				</if>
				<if test="category == 'memId'">
			    	where MEMID = #{keyword}
				</if>				
				order by boardNo desc
	</select>
	
<!-- 게시글 작성 -->
	<insert id="writeBoard" parameterType="board">
			insert 
				into board(
							title
							, content
							, memId
						<if test="attach != null">
							, attach
						</if>	
							) 
					values (
							#{title}
							, #{content}
							, #{memId}
						<if test="attach != null">
							, #{attach}
						</if>							
							);		
	</insert> 

<!-- 게시글 상세보기-->
 	<select id="detailBoard" resultMap="BoardResultSet" parameterType="int">
			select * 
				from board
				where BOARDNO = #{boardNo};
	</select> 
	
	<select id="deleteBoard" parameterType="int">
			delete 
				from board
				where BOARDNO = #{boardNo};
	</select>

	<!-- 게시글 수정 -->
	<update id="editBoard" parameterType="board">

		update board
			set
				TITLE = #{title}
				, CONTENT = #{content}
			where 
				BOARDNO = #{boardNo};
				
	</update>	

	<select id="findAllCnt" resultType="int"> 	
		select COUNT(*)
			from board;
		<if test="category == 'boardTitle'">
	    	where BOARDTITLE like '%${keyword}%'
		</if>
		<if test="category == 'userId'">
	    	where USERID = #{keyword}
		</if>			
	</select>

	<select id="selectLastInsertId" resultType="int">
		select LAST_INSERT_ID();
	</select>
	
	<insert id="insertAttach">
		insert into attach(
							ORIGINALNAME
							, SAVENAME
							, PATH
							, BOARDNO
							)
					values(
							#{originalName}
							, #{saveName}
							, #{path}
							, #{boardNo}
							);	
	</insert>
	
	<select id="detailAttach" resultMap="AttachResultSet">
		select *
			from attach
			where BOARDNO = #{boardNo};
	</select>

	<select id="selectAttach" parameterType="int" resultMap="AttachResultSet">
		select * 
			from attach 
			where fileNo = #{fileNo}		
	</select>

	<update id="updateView" parameterType="int">
		update board
			set viewCount = viewCount + 1
			where boardNo = #{boardNo}
	</update>
	
</mapper>