<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oht.second.mapper.BoardMapper">
	<resultMap id="BoardResultSet" type="Board">	
		<result column="boardNo" property="boardNo" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="regdate" property="regdate" />
		<result column="memId" property="memId" />
		<result column="viewCount" property="viewCount" />
	</resultMap>

<!-- 게시글 조회 -->
	<select id="boardList" resultMap="BoardResultSet">
			select *
				from board
				order by boardNo desc
	</select>
	
<!-- 게시글 작성 -->
	<insert id="boardWrite" parameterType="board">
			insert 
				into board(
							title
							, content
							, memId
							) 
					values (
							#{title}
							, #{content}
							, #{memId}
							);		
	</insert> 

<!-- 게시글 상세보기-->
 	<select id="detailBoard" resultMap="BoardResultSet" parameterType="int">
			select * 
				from board
				where BOARDNO = #{boardNo};
	</select> 
	
	<select id="deleteBoard" parameterType="board">
			delete 
				from board
			where BOARDNO = #{boardNo};
	</select>

	<!-- 게시글 수정 -->
	<update id="editBoard" parameterType="board">

		update board
			set
				TITLE = #{title}
				, CONTENT = #{content}
			where 
				BOARDNO = #{boardNo};
				
	</update>	

	<select id="findAllCnt" resultType="int"> 	
		select COUNT(*)
			from board;
	</select>



</mapper>