<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oht.second.mapper.MemberMapper">
	
	<!-- 로그인 -->
<!-- 	<select id="loginMember" resultMap="MemberResultSet"
		parameterType="member">
		<![CDATA[
			SELECT *
			FROM
			MEMBER
			WHERE
				memId = #{memId}
			and
				memPwd = #{memPwd}
		]]>			

	</select> -->

	<select id="getMemberAccount" resultType="com.oht.second.vo.Member" parameterType="String">
		select * 
			from member 
			where memId = #{memId}	
	</select>


	
	<insert id="enrollProcess" parameterType="com.oht.second.vo.Member">
		insert 
			into member(
						MEMID, MEMPWD, MEMNAME
						)
				values(
						#{memId}, #{memPwd}, #{memName}
						)			
	
	</insert>
	
		
</mapper>