<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  	<!-- alertify js -->
  	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  	
     <style>
        #b_container{
            padding-top: 150px;
        }
        .b_title{
            width: 100px;
            text-align: center;
        }
        .b_context{
            width: 950px;
        }

    </style>
    
    	
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container text-center">

    <form action="deleteBoard" method="post">
	  <h1>글을 삭제하겠습니까?</h1>
	<br>
	<br>
        <div class="d-flex justify-content-center mb-3">
        	<div class="p-2" id="left_btn"><button type="submit">삭제</button></div>
			<button id="right_btn" class="btn btn-success">취소</button>
		</div>
	</form>
</div>

<script th:inline="javascript">		
		

	 		var no = /*[[${detailBoard.boardNo}]]*/ {};
			


 		$(function(){
			$("#right_btn").click(function(){
				location.href = '/detailBoard?boardNo='+no;
			})
			
		})
</script>

</body>
</html>