<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>자유 게시판</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>	
<div class="container">
  <h2 class="text-success">자유 게시판</h2>            
  <table class="table table-striped" id="boardTable">
    <thead>
	    <tr>
		    <th>NO</th>
		    <th>제목</th>
		    <th>작성자</th>
		    <th>작성날짜</th>
	    </tr>
    </thead>
	<tbody>	
		<tr th:each="list : ${list}">
			<td th:text="${list.boardNo}" class="boardNo"></td>
<!-- 			<td><a th:text="${list.title}" th:href="@{/board/detail/{boardNo}(boardNo = ${list.boardNo})}"></a></td> -->
 			<td><a th:text="${list.title}" th:href="@{detailBoard(boardNo=${list.boardNo})}"></a></td>
			<td th:text="${list.regdate}"></td>
			<td th:text="${list.memId}"></td>
		</tr> 
	</tbody>
  </table>
</div>

   
<!-- 페이징 처리 -->
	<div class="container">
	    <ul class="pagination d-flex justify-content-center">
	<!-- 이전 -->   
	            <li class="page-item" th:classappend="${paging.currentPage eq 1} ? 'disabled' : ''">
	                <a class="page-link" th:href="@{/board/list(currentPage=1)}" th:text="'<<'"></a>
	            </li>
	            <li class="page-item" th:classappend="${paging.currentPage eq 1} ? 'disabled' : ''">
	                <a class="page-link" th:href="@{/board/list(currentPage=${paging.currentPage - 1})}" th:text="'<'"></a>
	            </li>
	<!-- 번호 --> 	
			    <th:block  th:with="start = ${paging.startPage}, end = ${paging.endPage}">
				    <li class="page-item" 
				    		 th:with="start = ${paging.startPage}, end = ${paging.endPage}"
				    		th:each="pageButton : ${#numbers.sequence(start, end)}">
				    		<a class="page-link" th:href="@{/board/list?currentPage={currentPage} (currentPage = ${pageButton})}" th:text=${pageButton}></a>
				    </li>
			    </th:block>
	<!-- 다음 --> 	
	            <li class="page-item" th:classappend="${paging.currentPage eq paging.maxPage} ? 'disabled' : ' '">
	                <a class="page-link" th:href="@{/board/list(currentPage=${paging.currentPage + 1})}" th:text="'>'"></a>
	            </li>
	            <li class="page-item" th:classappend="${paging.currentPage eq paging.maxPage} ? 'disabled' : ' '">
	                <a class="page-link" th:href="@{/board/list(currentPage=${paging.maxPage})}" th:text="'>>'"></a>
	            </li>
	    </ul>
	</div>

    
	<div class="btn-group, text-center">
	  <button type="button" class="btn btn-success"
	          	onclick="location.href='write'">글쓰기</button>
	</div> 

</body>
</html>
	
	

